doctype html
html
  head
    meta(charset='UTF-8')
    title Pillarsjs - Examples | Google Sheets
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', integrity='sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  body
    .container
      h2 #{items[0].library}
      p #{items[0].description}
      p
        strong Documentation en español: 
        | #{items[0].documentation.spanish}
      p
        strong Documentation en ingles: 
        | #{items[0].documentation.english}
      p
        strong Test: 
        | #{items[0].test}
      p
        strong Pegatinas: 
        | #{items[0].shields}
      p
        strong Notas: 
        | #{items[0].notes}
      p
        strong Ejemplo: 
        | #{items[0].example}
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js', integrity='sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==', crossorigin='anonymous')